body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#tauler {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    position: relative;
    border: 2px solid black;
}

.peca {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid gray;
    background-size: 300px 300px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    transition: transform 0.3s;
}

#missatge {
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}